/* base */
*,
*::after,
*::before{
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  font-size: 16px;
}

img{
  image-orientation: from-image !important;
}


.alert p {
  margin-bottom: 0!important;
}
body {
  font-family: 'Hind', sans-serif;
  position: relative;
  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #660505, #070707);  
  background: linear-gradient(to right, #920000, #070707); 
  margin: 0;
  padding: 0.5rem;
  border-top: 0.2rem solid #888888;
}

header {
  width: 100%;
  height: 20vh;
}

header, footer {
  color:rgb(185, 181, 181);
  font-size: 1.2rem !important;
}

.contenido {
  padding:20px;
}
.contenido-principal {
  background-color: rgb(185, 181, 181);
  padding: 2rem;
  border-radius: 5px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10rem;
}
.presupuesto p{
  margin-bottom: 0;
  font-weight: bold;
}
.presupuesto p span {
  font-weight: normal;
}
#gastos {
  margin-bottom: 30px;
}
h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  color: rgb(185, 181, 181);
  text-align: center;
}
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  color:#000000;
  margin-bottom:30px;
  text-align: center;
}

form {
  width: 100%;
}

.campo {
  margin-bottom: 2rem;
}
.error {
  text-align: center;
}
.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}
.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}
.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.gastos-realizados  {
  margin-bottom: 2rem;
  width: 100%;
}

.gastos-realizados li{
  list-style: none;
  margin-bottom: 0rem;
  border-bottom: 1px solid #e1e1e1;
  padding: 1rem 0;
}
.gastos-realizados li:last-of-type {
  margin-bottom: 0!important;
}
.gastos-realizados li p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0;
}
.gastos-realizados li p .gasto {
  background-color: #004085;
  padding: 1rem;
  color:white;
}
#portfolio-link {
  text-decoration: none;
}

.line {
  border: 5px solid white;
}

.btn-login {
  margin: 1rem;
  width: 100%;
  width: 100%;
  margin: 1rem auto;
}

.menu {
  margin: 0;
  height: 10vh;
  cursor: pointer;
}

.logout {
  cursor: pointer;
}

.login {
  color: rgb(185, 181, 181);
}

.user-text {
  color:#888888 !important;
}

.main-title {
  cursor: pointer;
  color: white !important;
}

.title {
  color: rgb(185, 181, 181) !important;
}

.footer-copyright {
  text-decoration: none !important;
}

.list-unstyled {
  flex-direction: row;
  justify-content: center;
}

.list-unstyled > li {
  margin: 1rem;
}

.table-data {
  margin-bottom: 1rem;
  width: 90%;
}

.error-alert {
  background-color: rgb(230, 78, 78);
  color: var(--blanco);
}

.alerta {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 3rem;
  border-radius: 1rem;
  font-family: var(--headingFont);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2.2rem;
  text-align: center;
  width: 100%;
}

@media (min-width:768px) {
  .alerta {
      width: auto;
      top: 30px;
      right: 10px;
      left: auto;
  }
}

.alerta-ok {
  background-color: rgb(109, 211, 109);
  color: rgb(2, 103, 2);
}
.error-alert {
  background-color: rgb(230, 78, 78);
  color: var(--blanco);
}