.alert p {
  margin-bottom: 0!important;
}
body {
  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #660505, #070707);  
  background: linear-gradient(to right, #920000, #070707); 
  margin: 0;
  padding: 0.5rem;
  font-family: sans-serif;
  border-top: 1rem solid #888888;
  font-size: 20px!important;
}

header {
  width: 100%;
  height: 20vh;
  font-size: 2rem!important;
}
.footer {
  display: flex;
  justify-content: center;
  color: white;
  bottom: 0;
  margin-top: 2rem;
  margin-bottom: -3rem;
}
.contenido {
  padding:20px;
}
.contenido-principal {
  background-color: rgb(185, 181, 181);
  padding: 2rem;
  border-radius: 5px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10rem;
}
.presupuesto p{
  margin-bottom: 0;
  font-weight: bold;
}
.presupuesto p span {
  font-weight: normal;
}
#gastos {
  margin-bottom: 30px;
}
h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  color: white;
  text-align: center;
  font-size: 2.5rem!important;
}
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  color:#000000;
  margin-bottom:30px;
  font-size:2.2rem!important;
  text-align: center;
}
.campo {
  margin-bottom: 2rem;
}
.error {
  text-align: center;
}
.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}
.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}
.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}
.gastos-realizados  {
  margin-bottom: 2rem;
}
.gastos-realizados li{
  list-style: none;
  margin-bottom: 0rem;
  border-bottom: 1px solid #e1e1e1;
  padding: 1rem 0;
}
.gastos-realizados li:last-of-type {
  margin-bottom: 0!important;
}
.gastos-realizados li p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0;
}
.gastos-realizados li p .gasto {
  background-color: #004085;
  padding: 1rem;
  color:white;
}
#portfolio-link {
  text-decoration: none;
}

.line {
  border: 5px solid white;
}

.btn-login {
  margin: 1rem;
  width: 100%;
  font-size: 2rem!important;
  width: 100%;
  margin: 1rem auto;
}

.menu {
  margin: 0;
  height: 10vh;
  background-color: #960505;
  color: white;
}

.logout {
  cursor: pointer;
}

.login {
  color: rgb(185, 181, 181);
  font-size: 2rem!important;
}

.user-text {
  color:#888888 !important;
}

.main-title {
  cursor: pointer;
}